.job-listing-card{
    display: flex;
    position: relative;
    width: 1267px;
    height: 600px;
    background-color: whitesmoke;
    top: 150px;
    left: 100px;
    right: 100px;
    bottom: 50px;
    border-radius: 20px;
    border-color: rgb(34 70 210);
    border-style: solid;
    
}

.job-details{
    color: black;
    align-self: center;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50%;
}

.search-row{
    
    /*translate: -125%;*/
    height: 35px;
    width: 100%;
    margin-top: 20px;
}

.search-bar{
    height: 100%;
    width: calc(100% - 520px);
    border-radius: 15px;
    border-color: black;
    border-width: 1px;
    text-align: center;
    margin-left: 320px;
    
}